html, body {
    background-size: 100%;
    position: static;
}

#head {
    color: darkred;
    font-family: Inconsolata;
}

#submit1{
    background-color: darkred;
}
 #submit2{
     background-color: darkred;
 }
 #submit3{
     background-color: darkred;
 }
 #submit4{
     background-color: darkred;
 }
 #submit5{
     background-color: darkred;
 }
 #submit6{
    background-color: darkred;
}
#submit7{
    background-color: darkred;
}
#submit8{
    background-color: darkred;
}
#submit9{
    background-color: darkred;
}
#submit10{
    background-color: darkred;
}
#submit11{
    background-color: darkred;
}
#submit12{
    background-color: darkred;
}
#submit13{
    background-color: darkred;
}
#submit14{
    background-color: darkred;
}
#submit15{
    background-color: darkred;
}
#submit16{
    background-color: darkred;
}
#submit17{
    background-color: darkred;
}
#submit18{
    background-color: darkred;
}
#submit19{
    background-color: darkred;
}
#submit20{
    background-color: darkred;
}
#submit21{
    background-color: darkred;
}
#submit22{
    background-color: darkred;
}
#submit23{
    background-color: darkred;
}
#submit24{
    background-color: darkred;
}
#submit25{
    background-color: darkred;
}
#submit26{
    background-color: darkred;
}

